body{
    margin: 0;
}
main{
    display: inline-block;
    width: 100%;
    background-color: rgb(49, 29, 87);
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    float: top;
    width: 60%;
}
h1{
    color: rgb(255, 123, 0);
    font-size: 800%;
    font-weight: normal;
}
p,
h1{
    margin: 0;
}
p:first-of-type{
    font-size: 300%;
}
p:last-of-type{
    font-size: 150%;
    margin-bottom: 10%;
}
time{
    color: rgb(255, 123, 0);
    font-size: 120%;
}